:root {
   --color-backgroud: #f7f7f7;
   --color-gray: #b6bbc4;
   --color-gray-dark: #423f3e;
   --color-gray-light: #f1f1f1;
   --color-blue: #3e54d3;
   --color-blue-dark: #3e60c1;
   --color-borders: #ccc;
}

* {
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
   box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
   color: var(--color-gray-dark);
   background-color: var(--color-backgroud);
   padding: 10rem;
}

.page__wrapper {
   min-height: 70rem;
   margin: 0 auto;
   background-color: white;
   border-radius: 30px 0 0 30px;
   box-shadow: rgba(211, 211, 211, 0.4) -5px 5px,
      rgba(211, 211, 211, 0.3) -10px 10px, rgba(211, 211, 211, 0.2) -15px 15px,
      rgba(211, 211, 211, 0.1) -20px 20px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   min-width: 40rem;
   max-width: max-content;
}

/* SUMMARY ------------------------------------------------------ */

.summary__wrapper {
   /* margin-inline: auto; */
   padding: 8rem 0;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-between;
}

.summary__balance {
   display: flex;
   justify-content: space-around;
   margin-bottom: 5rem;
}

.balance__label {
   font-size: 2rem;
   font-weight: 500;
   margin-bottom: -0.2rem;
}

.balance__date {
   font-size: 1.2rem;
   color: #888;
}

.balance__value {
   font-size: 3rem;
   font-weight: 500;
}

.summary__cards--wrapper {
   display: flex;
   flex-direction: column;
   padding: 0 2rem;
}

.summary__cards--header {
   font-size: 1.6rem;
   font-weight: 600;
   font-family: inherit;
   margin-bottom: 2.5rem;
   padding-left: 2rem;
}

.summary__cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 2rem;
   margin: 0 1rem;
}

.card {
   width: 12rem;
   height: 18rem;
   padding: 1rem;
   border-radius: 1.5rem;
   text-align: center;

   display: flex;
   flex-direction: column;
   justify-content: space-between;

   background-color: #f8fafc;
   box-shadow: rgba(0, 0, 0, 0.09) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card:hover {
   background-color: rgba(79, 128, 226, 0.15);
   transform: translateY(6%);
   transition: all 0.6s ease-out;
   cursor: pointer;
}

.card__name {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1rem;
   opacity: 0.9;
   font-size: 1.3rem;
   font-weight: 500;
   font-family: inherit;
}

.card__value {
   font-family: inherit;
   font-weight: 500;
   font-size: 1.3rem;
}

.card__icon::before {
   width: 3rem;
   height: 3rem;
   border-radius: 0.8rem;
   font-size: 1.3rem;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.fa-arrow-up {
   font-size: 1.3rem;
   color: var(--color-blue-dark);
   display: flex;
   align-items: center;
   justify-content: center;
}
.fa-arrow-down {
   font-size: 1.3rem;
   color: var(--color-gray-dark);
   display: flex;
   align-items: center;
   justify-content: center;
}

/* MOVEMENTS ------------------------------------------------------ */
.movements__wrapper {
   padding: 5rem 5rem;
   background-color: var(--color-gray-light);

   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
}

.movements__summary {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;

   margin: 0 1.2rem;
   padding: 2rem 0;

   border-top: 1px solid var(--color-gray);
}

.summary__label {
   font-size: 1.2rem;
   font-weight: 500;
   text-transform: uppercase;
}

.summary__value {
   font-size: 2rem;
   margin-right: 2.5rem;
}

.btn--sort {
   /* margin-left: auto; */
   border: none;
   background: none;
   font-size: 1.3rem;
   font-weight: 500;
   cursor: pointer;
}

.movements__summary--income,
.movements__summary--outcome {
   border: 3px solid var(--color-borders);
   border-radius: 10rem;
   padding: 0.2rem 1.2rem;
   font-size: 1.8rem;
   font-weight: 600;
   color: var(--color-gray-dark);
   display: flex;
   justify-content: space-evenly;
   flex: 0;
}

/* Inputs Section */

.inputs__container {
   margin: 0 1.2rem;
   padding: 4rem 0;
   line-height: 6rem;
   font-weight: 300;
   font-size: 1.2rem;
   font-family: inherit;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   border-top: 1px solid var(--color-borders);
   border-bottom: 1px solid var(--color-borders);
}

.inputs__container--input {
   max-width: max-content;
   box-sizing: inherit;
}

.form__input {
   padding: 0.5rem 2rem;
   font-family: inherit;
   text-transform: uppercase;
   text-align: center;
   border: 1px solid #fff;
   border-radius: 10rem;
   transition: all 0.3s;
}

.form__input:focus {
   outline: none;
   border: 1px solid #ccc;
}

.form__input::placeholder {
   color: #bbb;
}

.inputs__container--type {
   display: flex;
}

.type__label {
   cursor: pointer;
   margin-right: 1rem;
   font-style: inherit;
   display: flex;
   align-items: center;
}

.type__label--name {
   margin-left: 0.4rem;
}

input[type='radio'] {
   appearance: none;
   -webkit-appearance: none;
   width: 1.6rem;
   height: 1.6rem;
   border: 1px solid var(--color-gray);
   border-radius: 50%;
   background-color: transparent;
   position: relative;
   cursor: pointer;
}

input[type='radio']:checked::before {
   content: '';
   display: block;
   width: 0.9rem;
   height: 0.9rem;
   background-color: var(--color-blue);
   border-radius: 50%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.form__btn {
   padding: 0.7rem 2rem;
   text-transform: uppercase;
   border-radius: 10rem;
   cursor: pointer;
   transition: all 0.3s;
   border: none;
   color: #fff;
   background-color: var(--color-blue);
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   font-family: inherit;
   font-weight: inherit;
   font-size: inherit;
}

.form__btn:hover {
   outline: none;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Last Transactions Section */

.movements__header {
   margin: 0 1.2rem;
   padding: 2rem 0;
   font-size: 1.6rem;
   font-weight: 600;
}

.movements__container {
   margin: 0 1.2rem;
   margin-bottom: 3rem;
   height: 40rem;

   overflow-y: scroll;
   overflow-x: hidden;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.movements__container::-webkit-scrollbar {
   width: 6px;
   height: 6px;
}

.movements__container::-webkit-scrollbar-track {
   border-radius: 10px;
   background: var(--color-gray-light);
}

.movements__container::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background: rgba(0, 0, 0, 0.2);
}

.movements__container::-webkit-scrollbar-thumb:hover {
   background: rgba(0, 0, 0, 0.4);
}

.movements__container::-webkit-scrollbar-thumb:active {
   background: rgba(0, 0, 0, 0.5);
}

.movements__row {
   display: flex;
   align-items: center;
   padding: 2rem 1.5rem;
   border-bottom: 1px solid #eee;
}

.movements__row--description {
   margin-left: 1rem;
   min-width: 15rem;
   height: 3rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.movements__row__description--name {
   font-size: 1.4rem;
   font-family: inherit;
   text-transform: uppercase;
   font-weight: 500;
   color: var(--color-gray-dark);
}

.movements__row__description--type {
   font-size: 1.1rem;
   font-weight: 400;
   font-family: inherit;
   color: var(--color-gray-dark);
}

.movements__date {
   font-size: 1.1rem;
   text-transform: uppercase;
   font-weight: 400;
   color: #666;
   margin-left: 1rem;
}

.movements__value {
   font-size: 1.3rem;
   font-weight: 400;
   margin-left: 4rem;
}

.item .trash {
   color: var(--color-gray-dark);
   background-color: var(--color-gray-light);
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   height: 3rem;
   width: 3rem;
   font-size: 1.6rem;
   margin-left: 1rem;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   cursor: pointer;
   transform: translateX(15px);
   opacity: 0;

   display: flex;
   align-items: center;
   justify-content: center;
}

.item:hover .trash {
   animation-name: showDelete;
   animation-duration: 0.7s;
   animation-fill-mode: forwards;
}

@keyframes showDelete {
   0% {
      transform: translateX(15px);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
   .movements__wrapper {
      width: 100%;
   }

   .inputs__container {
      font-size: 1.1rem;
      /* background-color: #3e54d3; */
   }

   .movements__wrapper {
      border-radius: 0 0 0 30px;
      padding: 0;
   }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
   .card {
      width: 8rem;
      height: 14rem;
      font-size: xx-small;
   }

   .summary__cards--wrapper {
      padding: 0;
   }

   .movements__wrapper {
      width: 100%;
   }

   .inputs__container {
      font-size: 1.1rem;
   }

   .movements__wrapper {
      border-radius: 0 0 0 30px;
   }

   .movements__container {
      margin: auto;
      margin-bottom: 4rem;
   }

   .movements__header,
   .movements__summary {
      display: flex;
      justify-content: center;
   }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
   .card {
      width: 10rem;
      height: 16rem;
      font-size: xx-small;
   }

   .summary__cards--wrapper {
      padding: 0;
   }

   .movements__wrapper {
      width: 100%;
   }

   .movements__wrapper {
      border-radius: 0 0 0 30px;
   }

   .movements__container {
      margin: auto;
      margin-bottom: 4rem;
   }

   .movements__header,
   .movements__summary {
      display: flex;
      justify-content: center;
   }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
   .movements__wrapper {
      width: 100%;
   }

   .movements__wrapper {
      border-radius: 0 0 0 30px;
   }

   .movements__container {
      margin: auto;
      margin-bottom: 4rem;
   }

   .movements__header,
   .movements__summary {
      display: flex;
      justify-content: center;
   }
}
