:root {
   --color-gray: #eae7ed;
   --color-purple: #b793e6;
   --color-blue: #4b56d2;
   --color-azure: #4fc1e9;
   --color-lime: #5be7c4;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
   box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
   color: #444;
   background-color: var(--color-gray);
   height: 100vh;
}

.wrapper {
   margin: 5rem 0 0 5rem;
   background-color: white;
   border-radius: 30px 0 0 30px;
   padding: 5rem;
}

.app {
   /* position: relative; */
   /* max-width: 150rem; */
   min-height: 70rem;

   display: grid;
   grid-template-columns: 4fr 5fr;
   grid-gap: 2rem;
}

/* SUMMARY */
.tracker {
   border: 3px solid #999;
   flex: 1;
   margin-right: 20px;
   padding: 2rem;
}

.planner {
   border: 3px solid #999;
   flex: 1;
   padding: 2rem;
}

.tracker__summary {
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 5rem;
}

.tracker__summary--container {
   border: 3px solid var(--color-blue);
   border-radius: 10rem;
   padding: 0.1rem 1rem;
   font-size: 1.8rem;
   font-weight: 600;
   color: #444;
}

/* MOVEMENTS */
.movements {
   border: 3px solid #999;
   overflow: scroll;
}

.movements__header {
   font-size: 1.8rem;
   font-weight: 600;
   margin-bottom: 2rem;
}

.movements__row {
   display: flex;
   align-items: center;
   padding: 2rem 2rem;
   border-bottom: 1px solid #eee;
}

.movements__type {
   font-size: 1.1rem;
   text-transform: uppercase;
   font-weight: 500;
   color: #fff;
   padding: 0.1rem 1rem;
   border-radius: 10rem;
   margin-right: 2rem;
}

.movements__date {
   font-size: 1.1rem;
   text-transform: uppercase;
   font-weight: 400;
   color: #666;
}

.movements__type--income {
   background-image: linear-gradient(to top left, #4b56d2, #4b6fd2);
}

.movements__type--outcome {
   background-image: linear-gradient(to top left, #b793e6, #df93e6);
}

.movements__value {
   font-size: 1.3rem;
   margin-left: auto;
}

/* PLANNER */

.planner {
   display: grid;
   grid-template-columns: repeat(3, 150px);
   grid-template-rows: 150px 200px;
   grid-gap: 10px;

   grid-auto-rows: 200px;
   justify-content: center;
}

.planner__summary--change {
   grid-column: 1 / span 2;
   border: 1px solid #444;
   /* height: 8rem; */
   background-color: #4b6fd2;
}

.item {
   padding: 1rem;
   border: 1px solid #444;
   border-radius: 2rem;
   /* display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between; */
   /* min-width: 4rem;
   min-height: 10rem; */
   display: grid;
   grid-auto-flow: row;
   align-content: space-between;
   /* justify-content: center; */

   /* align-content: space-between; */
   /* justify-content: space-between; */
}

.item__value {
   align-self: bas;
}
