:root {
    --color-gray: #eae7ed;
    --color-purple: #b793e6;
    --color-blue: #4b56d2;
    --color-azure: #4fc1e9;
    --color-lime: #5be7c4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 1.9;
    background-color: var(--color-gray);
}

.app {
    margin: 8rem 0 0 8rem;
    background-color: white;
    min-height: 50rem;
    border-radius: 30px 0 0 30px;
}
